<% page_title(_('Área de trabajo')) -%>
<% content_for(:sidebar) do -%>
  <p class='note'><%= _('En esta pantalla puedes encontrar los últimos eventos ocurridos en el centro') %></p>
<% end -%>

<div class="dashboard">
  <h3><%= _('Últimos expedientes modificados') %></h3>
  <% if @medical_records.any? -%>
    <ul>
      <% for medical_record in @medical_records -%>
        <li><%= link_to(h(medical_record.full_name), medical_record) %> <%= time_and_status_for(medical_record) %></li>
      <% end -%>
    </ul>
  <% else -%>
    <%= display_no_records_message %>
  <% end -%>
  
  <h3><%= _('Últimos diagnósticos modificados') %></h3>
  <% if @odat_diagnoses.any? -%>
    <ul>
      <% for odat_diagnosis in @odat_diagnoses -%>
        <li><%= link_to(_("Diagnóstico para <span class=\"record\">%{name}</span>") % {:name => h(odat_diagnosis.medical_record.full_name)}, [odat_diagnosis.medical_record, odat_diagnosis]) %> <%= time_and_status_for(odat_diagnosis) %></li>
      <% end -%>
    </ul>
  <% else -%>
    <%= display_no_records_message %>
  <% end -%>


  <h3><%= _('Últimos Informes Individuales modificados') %></h3>
  <% if @individual_reports.any? -%>
    <ul>
      <% for individual_report in @individual_reports -%>
        <li><%= link_to(_("Informe para %{name}") % {:name => h(individual_report.medical_record.full_name)}, [individual_report.medical_record, individual_report]) %> <%= time_and_status_for(individual_report) %></li>
      <% end -%>
    </ul>
  <% else -%>
    <%= display_no_records_message %>
  <% end -%>

  <h3><%= _('Últimos informes de centro modificados') %></h3>
  <% if @odat_diagnoses.any? -%>
    <ul>
      <% for center_report in @center_reports -%>
        <li><%= link_to(_("Informe de centro"), center_report) %> <%= time_and_status_for(center_report) %></li>
      <% end -%>
    </ul>
  <% else -%>
    <%= display_no_records_message %>
  <% end -%>
</div>
