<% page_title(_('Iniciar sesión')) -%>

<% form_tag session_path do -%>

<p><%= label_tag('login', _('Identificador de usuario')) %><br />
<%= text_field_tag('login', @login) %></p>

<p><%= label_tag('password', _('Clave')) %><br/>
<%= password_field_tag('password', nil) %></p>

<p><%= check_box_tag('remember_me', 
                     '1', 
                     @remember_me) %> 
   <%= label_tag('remember_me', _('Recordarme')) %>
</p>

<p><%= submit_tag(_('Iniciar sesión')) %></p>
<% end -%>

