<% page_title(_('Iniciar sesión')) -%>

<div class="note" id="lang-selector">
  <h3><%= _('Cambiar idioma') %></h3>
<ul>
<% for lang in AVAILABLE_LANGUAGES do -%>
  <li><%= link_to lang.first, lang.last, :class => 'btn' %></li>
<% end -%>
</ul>
</div>

<% form_tag session_path do -%>

<p><%= label_tag('login', _('Identificador de usuario')) %><br />
<%= text_field_tag('login', @login) %></p>

<p><%= label_tag('password', _('Clave')) %><br/>
<%= password_field_tag('password', nil) %></p>

<p><%= check_box_tag('remember_me', 
                     '1', 
                     @remember_me) %> 
   <%= label_tag('remember_me', _('Recordarme')) %>
</p>

<p><%= submit_tag(_('Iniciar sesión')) %></p>
<% end -%>

