<p><%= _('Haga <em>click</em> en el nombre de las subcategorías para expandir/contraer su contenido.') %></p>
<table>
  <% for cat in DiagnosisItem.categories do -%>
  <tr>
    <th><%= h cat.name %></th>
    <td>
      <ul>
	<% for subcat in cat.subcategories do -%>
	  <li>
	    <%= h(subcat.name) %>
	    <small id="<%= "show_#{cat.id}_#{subcat.id}" %>"
	      <% unless (@odat_diagnosis.diagnosis_items.delete(subcat.direct_children)).any? -%>
	       style="display: none"<% end -%>>(<%= link_to_function(
	      _('%{count} elementos sin mostrar') % 
		{:count => subcat.direct_children.count}, 
		  "Element.toggle('subcat_#{cat.id}_#{subcat.id}');
		   Element.toggle('hide_#{cat.id}_#{subcat.id}');
		   Element.toggle('show_#{cat.id}_#{subcat.id}');") %>)</small>
	    <small id="<%= "hide_#{cat.id}_#{subcat.id}" %>" 
	      <% if (@odat_diagnosis.diagnosis_items.delete(subcat.direct_children)).any? -%>
	       style="display: none"<% end -%>>(<%= link_to_function(
	      _('ocultar'),
		  "Element.toggle('subcat_#{cat.id}_#{subcat.id}');
		   Element.toggle('hide_#{cat.id}_#{subcat.id}');
		   Element.toggle('show_#{cat.id}_#{subcat.id}');") %>)</small>

		 <ul id="subcat_<%= "#{cat.id}_#{subcat.id}" %>" 
		   <% if (@odat_diagnosis.diagnosis_items.delete(subcat.direct_children)).any? -%>
		    style="display: none"<% end -%>>
		   <% for item in subcat.items do -%>
		     <li><%= display_item_for_diagnosis(f, item, @odat_diagnosis) %></li>
		   <% end -%>
		 </ul>
	</li>
	<% end -%>
      </ul>
    </td>
  </tr>
  <% end -%>
</table>
