<table>
  <% for cat in DiagnosisItem.categories do -%>
  <tr>
    <th><%= h cat.name %></th>
    <td>
      <ul>
	<% for subcat in cat.subcategories do -%>
	  <li>
	  <%= h(subcat.name) %>
	  <% if subcat.items.any? -%>
	    <%= render(:partial => 'form_diagnosis_items_subcategory_toggle',
		       :locals => {
			 :f => f, 
			 :cat => cat, 
			 :subcat => subcat, 
			 :diagnoses => @odat_diagnosis.diagnosis_items}) %>
	  <% end -%>

	  <ul id="subcat_<%= "#{cat.id}_#{subcat.id}" %>" 
	    <%= hide_attr_unless(
	      subcat.ancestor_of_any?( @odat_diagnosis.diagnosis_items)) %>>
	    <% for item in subcat.items do -%>
	      <li><%= display_item_for_diagnosis(f, 
						 item, 
					       @odat_diagnosis.diagnosis_items) %></li> 
	    <% end -%>
	  </ul>
	</li>
	<% end -%>
      </ul>
    </td>
  </tr>
  <% end -%>
</table>
