<% page_title _('Historial de %{name}') % {:name => @medical_record.full_name } %>

<p><%= link_to(_('Nuevo diagn贸stico'), 
  new_medical_record_odat_diagnosis_path(@medical_record), {:class => 'btn new-btn'}) %></p>

<% if @odat_diagnoses.any? -%>
<table class="vdata">
  <thead>
    <tr>
      <th><%= _('Fecha') %></th>
      <th><%= _('Modificar') %></th>
      <th><%= _('Eliminar') %></th>
    </tr>
  </thead>

  <tbody>
    <% for odat_diagnosis in @odat_diagnoses %>
      <tr>
	<td>
          <% if odat_diagnosis.created_at -%>
            <%= link_to(l(odat_diagnosis.created_at, :format => :short), 
                      [@medical_record, odat_diagnosis]) %>
          <% else -%>
            <%= link_to(_('Fecha desconocida'), 
                      [@medical_record, odat_diagnosis]) %>
          <% end -%>
	</td>
	<td>
	  <%= link_to(_('Ver'), [@medical_record, odat_diagnosis]) %>
	  <%= link_to(_('Modificar'), 
		      edit_medical_record_odat_diagnosis_path(
			@medical_record, odat_diagnosis)) %>
	</td>
	<td>
	  <%= button_to(_('Eliminar'), 
	  [@medical_record, odat_diagnosis], 
	  :confirm => _('Realmente deseas borrar el diagn贸stico (Operaci贸n irreversible)'),
          :method => :delete, :class => 'dest-action') %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else -%>
  <p><%= _('No hay diagn贸sticos almacenados.') %></p>
<% end -%>

