<% page_title _('Ver diagnóstico') -%>

<h3><%= _('Datos personales') %></h3>

<table class="hdata">
  <tr>
    <th><%= _('Nombre') %></th>
    <td><strong><%=h @odat_diagnosis.medical_record.full_name %></strong></td>
  </tr>
</table>

<h3><%= _('Diagnóstico') %></h3>

<table class="hdata">
  <tr>
    <th><%= _('Fecha de creación') %></th>
    <td><%= l(@odat_diagnosis.created_at, :format => :short) if @odat_diagnosis.created_at %></td>
  </tr>
  <tr>
    <th><%= _('Última modificación') %></th>
    <td><%= l(@odat_diagnosis.updated_at, :format => :short) if @odat_diagnosis.updated_at %></td>
  </tr>
</table>

<h3><%= _('Datos socio-familiares') %></h3>

<h4><%= _('Datos demanda') %></h4>
<%= render :partial => 'show_consultation_data' %>

<h4><%= _('Recursos de centro') %></h4>
<%= render :partial => 'show_center_data' %>

<h4><%= _('Diagnóstico principal') %></h4>
<%= render :partial => 'show_main_diagnosis' %>

<h4><%= _('Datos de diagnóstico') %></h4>
<%= render :partial => 'show_detailed_diagnosis' %>

