<h4><%= _('Datos personales') %></h4>

<table class="hdata">
  <tr>
    <th><%= _('Nombre') %></th>
    <td><strong><%=h @odat_diagnosis.medical_record.full_name %></strong></td>
  </tr>
</table>

<h4><%= _('Diagnóstico') %></h4>

<table class="hdata">
  <tr>
    <th><%= _('Fecha de creación') %></th>
    <td><%= @odat_diagnosis.created_at.short_format if @odat_diagnosis.created_at %></td>
  </tr>
  <tr>
    <th><%= _('Última modificación') %></th>
    <td><%= @odat_diagnosis.updated_at.short_format if @odat_diagnosis.updated_at %></td>
  </tr>
</table>

<h4><%= _('Datos socio-familiares') %></h4>

<h5><%= _('Datos demanda') %></h5>
<%= render :partial => 'show_consultation_data' %>

<h5><%= _('Datos de centro') %></h5>
<%= render :partial => 'show_center_data' %>

<h5><%= _('Diagnóstico principal') %></h5>
<%= render :partial => 'show_main_diagnosis' %>

<h5><%= _('Datos de diagnóstico') %></h5>
<%= render :partial => 'show_detailed_diagnosis' %>

