<% page_title _('Ver diagnóstico') -%>

<h3><%= _('Parte 1: General') %></h3>

  <h4><%= _('Expediente') %></h4>
  <table class="hdata">
    <tr>
      <th><%= _('Nombre') %></th>
      <td><strong><%=h @odat_diagnosis.medical_record.full_name %></strong></td>
    </tr>
  </table>

  <h4><%= _('Diagnóstico') %></h4>

  <table class="hdata">
    <tr>
      <th><%= _('Fecha de creación') %></th>
      <td><%= l(@odat_diagnosis.created_at, :format => :short) if @odat_diagnosis.created_at %></td>
    </tr>
    <tr>
      <th><%= _('Última modificación') %></th>
      <td><%= l(@odat_diagnosis.updated_at, :format => :short) if @odat_diagnosis.updated_at %></td>
    </tr>
  </table>

  <h4><%= _('Datos demanda') %></h4>
  <%= render :partial => 'show_consultation_data' %>

  <h4><%= _('Recursos de centro') %></h4>
  <%= render :partial => 'show_center_data' %>

<h3><%= _('Parte 2: Diagnóstico') %></h3>

  <h4><%= _('Diagnóstico principal') %></h4>
  <%= render :partial => 'show_main_diagnosis' %>

  <h4><%= _('Datos de diagnóstico') %></h4>
  <%= render :partial => 'show_detailed_diagnosis' %>

<h3><%= _('Parte 3: Apoyos/Recursos') %></h3>

  <%= render :partial => 'show_evaluation_scores' %>
