<h1>Editing province</h1>

<% form_for([:admin, @province]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @province] %> |
<%= link_to 'Back', admin_provinces_path %>
