<h1>New comparative_function</h1>

<% form_for(@comparative_function) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :applicable_on %><br />
    <%= f.text_field :applicable_on, :value => @comparative_function.applicable_on.collect { |c| c.to_s }.join(' ') %>
  </p>
  <p>
    <%= f.label :function %><br />
    <%= f.text_area :function %>
  </p>
  <p>
    <%= f.label :render_method %><br />
    <%= f.text_field :render_method %>
  </p>
  <p>
    <%= f.label :render_options %><br />
    <%= f.text_field :render_options, :value => @comparative_function.render_options.inspect %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comparative_functions_path %>
