<p>
  <b>Applicable on:</b>
  <%=h @comparative_function.applicable_on %>
</p>

<p>
  <b>Function:</b>
  <%=h @comparative_function.function %>
</p>

<p>
  <b>Render method:</b>
  <%=h @comparative_function.render_method %>
</p>

<p>
  <b>Render options:</b>
  <%=h @comparative_function.render_options %>
</p>


<%= link_to 'Edit', edit_comparative_function_path(@comparative_function) %> |
<%= link_to 'Back', comparative_functions_path %>