<h1>Listing job_statuses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for job_status in @job_statuses %>
  <tr>
    <td><%=h job_status.name %></td>
    <td><%=h job_status.description %></td>
    <td><%= link_to 'Show', [:admin, job_status] %></td>
    <td><%= link_to 'Edit', edit_admin_job_status_path(job_status) %></td>
    <td><%= link_to 'Destroy', [:admin, job_status], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @job_statuses %>

<br />

<%= link_to 'New job_status', new_admin_job_status_path %>
