<h1>Listing diagnosis_items</h1>

<table class="vdata">
  <tr>
    <th><%= _('Nombre') %></th>
  </tr>

<% for diagnosis_item in @diagnosis_items %>
  <tr>
    <td><%=h diagnosis_item.name %> (<%= diagnosis_item.descendants.count %> sub-elementos)</td>
    <td><%= link_to _('Ver'), [:admin, diagnosis_item] %></td>
    <td><%= link_to _('Modificar'), edit_admin_diagnosis_item_path(diagnosis_item) %></td>
    <td><%= link_to _('Mover arriba'), move_admin_diagnosis_item_path(diagnosis_item, :direction => 'up') %></td>
    <td><%= link_to _('Mover abajo'), move_admin_diagnosis_item_path(diagnosis_item, :direction => 'down') %></td>
    <td><%= link_to _('Eliminar'), [:admin, diagnosis_item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to _('Crear nuevo eje'), new_admin_diagnosis_item_path %>
