<h1>New diagnosis_item</h1>

<% form_for([:admin, @diagnosis_item]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.collection_select(:parent_id, DiagnosisItem.find(:all), :id, :name, {:include_blank => true}) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p>
<% if @diagnosis_item.parent %>
        <%= link_to _('Volver al elemento superior'), admin_diagnosis_item_path(@diagnosis_item.parent) %> |
<% end %>
<%= link_to _('Volver al listado'), admin_diagnosis_items_path %></p>
