<% form_for(@medical_record) do |f| %>
  <%= f.error_messages %>

  <%= show_required_fields_explanation %>

  <fieldset>
    <legend><%= _('Expediente') %></legend>
    <table>
      <tr>
	      <th><%= f.label(:archive_date_3i, _('Fecha inicio expediente'), :required => true) %></th>
	<td><%= f.date_select(:archive_date, 
			      :start_year => 1990, 
			      :order => [:day, :month, :year], 
			      :use_month_numbers => true ) %>
	</td>
      </tr>

    </table>
  </fieldset>

  <fieldset>
    <legend><%= _('Datos personales') %></legend>
    <table>
      <tr>
	      <th><%= f.label(:name, _('Nombre'), :required => true) %></th>
	<td>
	  <%= f.text_field(:name, 
			   :size => 30, 
			   :maxlength => 30) %>
	</td>
      </tr>
      <tr>
	      <th><%= f.label(:surname, _('Apellidos'), :required => true) %></th>
	<td><%= f.text_field(:surname, 
			     :size => 50, 
			     :maxlength => 100) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:birth_date_3i, _('Fecha de nacimiento')) %></th>

	<td><%= f.date_select(:birth_date, 
			      :start_year => 1992, 
			      :order => [:day, :month, :year], 
                              :use_month_numbers => true,
                              :include_blank => true ) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:gender, _('Sexo')) %></th>
	<td>
	  <%= f.collection_select(:gender, 
				  @genders,
				  :to_str, :to_str, 
				  { :include_blank => true }) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:multiple_birth, _('Parto múltiple')) %></th>
	<td><%= f.check_box(:multiple_birth) %> 
	    <%= f.label(:birth_position, 
	    _('Posición en el parto <small>(orden)</small>')) %> 
	<%= f.text_field(:birth_position, 
			     :size => 1, 
			     :maxlength => 1) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:address, _('Dirección')) %></th>
	<td><%= f.text_field(:address, 
			     :size => 50, 
			     :maxlength => 100) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:postal, _('Código postal')) %></th>
	<td><%= f.text_field(:postal, 
			     :size => 5, 
			     :maxlength => 5) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:city, _('Localidad')) %></th>
	<td><%= f.text_field(:city, 
			     :size => 50, 
			     :maxlength => 50) %>
	</td>
      </tr>
      <tr>
	<th><%= f.label(:province_id, _('Provincia')) %></th>
	<td>
	  <%= f.collection_select(:province_id, 
				  @provinces,
				  :id, :name, 
				  { :include_blank => true }) %>
	</td>
      </tr>
    </table>

    <h4><%= _('Minusvalía') %></h4>
    <table>
      <tr>
        <th><%= f.label(:handicap, h(_('Clasificación de minusvalía mayor que 33 grados'))) %></th>
        <td><%= f.check_box(:handicap) %> <%= f.label(:handicap, _('Sí')) %></td>
      </tr>

      <tr>
        <th><%= f.label(:dependency_degree, _('Grado de dependencia')) %></th>
        <td><%= f.select(:dependency_degree, MedicalRecord::DEPENDENCY_DEGREES, :include_blank => true) %></td>
      </tr>

    </table>

  </fieldset>

  <%= render :partial => 'form_social_familiar', :locals => { :f => f } %>

  <p>
  <% if @medical_record.new_record? -%>
    <%= f.submit_or_cancel(_('Nuevo'),_('Cancelar'), medical_records_path) %>
  <% else -%>
    <%= f.submit_or_cancel(_('Guardar'),_('Cancelar'), medical_records_path) %>
  <% end %>
  </p>

<% end %>
