<tr>
  <th><%= _('Servicios Sanitarios') %></th>
  <td><%= print_boolean(@medical_record.sanitary_services) %></td>
</tr>

<tr>
  <th><%= _('Servicios Sociales') %></th>
  <td><%= print_boolean(@medical_record.social_services) %></td>
</tr>
<tr>
  <th><%= _('Servicios Educativos') %></th>
  <td><%= print_boolean(@medical_record.educative_services) %></td>
</tr>

