<tr>
  <th><%= _('Nombre') %></th>
  <td><%= h @medical_record.mother_name %></td>
</tr>
<tr>
  <th><%= _('Apellidos') %></th>
  <td><%= h @medical_record.mother_surname %></td>
</tr>
<tr>
  <th><%= _('Fecha de nacimiento') %></th>
  <td><%= l(@medical_record.mother_birth_date, :format => :short) unless @medical_record.mother_birth_date.nil? %></td>

</tr>
<tr>
  <th><%= _('Situación laboral') %></th>
  <td><%= h @medical_record.mother_job_status.name unless @medical_record.mother_job_status.nil? %></td>
</tr>
<tr>
  <th><%= _('Ocupación') %></th>
  <td><%= h @medical_record.mother_job.name unless @medical_record.mother_job.nil? %></td>
</tr>
<tr>
  <th><%= _('Nivel de estudios') %></th>

  <td><%= h @medical_record.mother_formation_level.name unless @medical_record.mother_formation_level.nil? %></td>
</tr>
<tr>
  <th><%= _('Estado civil') %></th>

  <td><%= h @medical_record.mother_civil_state.name unless @medical_record.mother_civil_state.nil? %></td>
</tr>
<tr>
  <th><%= _('Email') %></th>
  <td><a href="mailto:<%= h @medical_record.mother_email %>" title="Enviar un email"><%= h @medical_record.mother_email %></a></td>
</tr>
<tr>
  <th><%= _('Información extra') %></th>

  <td><%= h @medical_record.mother_extra_information %></td>
</tr>

