<tr>
  <th><%= _('Domicilio') %></th>
  <td><%= h @medical_record.home_phone %></td>
</tr>

<tr>
  <th><%= _('Móvil') %></th>
  <td><%= h @medical_record.portable_phone %></td>
</tr>
<tr>
  <th><%= _('Trabajo') %></th>
  <td><%= h @medical_record.work_phone %></td>
</tr>

