<% page_title _('Expedientes del centro') -%>

<% content_for(:sidebar) do -%>
  <div class='note'>
    <p><%= _('Aquí se muestran todos los expedientes del centro') %></p>
  </div>
<% end -%>

<p><%= link_to(_('Nuevo expediente'), new_medical_record_path, :class => 'btn new-btn') %></p>

<% if @medical_records.any? -%>
<table class="vdata">
  <thead>
    <tr>
      <th width="25%"><%= _('Nombre') %></th>
      <th><%= _('Expediente') %></th>
      <th><%= _('Diagnósticos') %></th>
      <th><%= _('Informes') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => 'medical_record', :collection => @medical_records) %>
  </tbody>
</table>
<% else -%>
  <%= display_no_records_message %>
<% end -%>

<%= will_paginate @medical_records %>
