<% page_title _('Listado de expedientes') -%>

<% content_for(:sidebar) do -%>
  <p class='note'><%= _('Aquí se muestran todos los diagnósticos del centro') %></p>
<% end -%>

<% if @medical_records.any? -%>
<table class="vtable">
  <thead>
    <tr>
      <th><%= _('Nombre') %></th>
      <th><%= _('Expediente') %></th>
      <th><%= _('Diagnósticos') %></th>
      <th><%= _('Informes') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => 'medical_record', :collection => @medical_records) %>
  </tbody>
</table>
<% else -%>
  <%= display_no_records_message %>
<% end -%>

<%= will_paginate @medical_records %>
