<% page_title _('Listado de expedientes') -%>

<% content_for('lateral') do -%>
	asfdsdaf
<% end -%>

<% if @medical_records.any? -%>
<table class="vtable">
  <thead>
    <tr>
      <td><%= _('Nombre') %></td>
      <td><%= _('Expediente') %></td>
      <td><%= _('Diagnósticos') %></td>
      <td><%= _('Informes') %></td>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => 'medical_record', :collection => @medical_records) %>
  </tbody>
</table>
<% else -%>
  <%= display_no_records_message %>
<% end -%>

<%= will_paginate @medical_records %>
