<% form_for([:admin, @consultation_cause]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
  <% if @consultation_cause.new_record? -%>
    <%= f.submit "Create" %>
  <% else -%>
    <%= f.submit "Update" %>
  <% end -%>
  </p>
<% end %>
