<h1>Listing origin_causes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% for origin_cause in @origin_causes %>
  <tr>
    <td><%=h origin_cause.name %></td>
    <td><%=h origin_cause.description %></td>
    <td><%= link_to 'Show', [:admin, origin_cause] %></td>
    <td><%= link_to 'Edit', edit_admin_origin_cause_path(origin_cause) %></td>
    <td><%= link_to 'Destroy', [:admin, origin_cause], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @origin_causes %>

<br />

<%= link_to 'New origin_cause', new_admin_origin_cause_path %>
