<p>
  <b>Name:</b>
  <%=h @origin_cause.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @origin_cause.description %>
</p>

<p>
  <b>Positions:</b>
  <%=h @origin_cause.position %>
</p>


<%= link_to 'Edit', edit_admin_origin_cause_path(@origin_cause) %> |
<%= link_to 'Back', admin_origin_causes_path %>
