<% page_title _('Ayuda para la clasificaci贸n diagn贸stica') -%>

<% content_for :menu do -%>
  <%= link_to _('Clasificaci贸n diagn贸stica'), '/help/diagnosis_items' %> &rarr; <%= @diagnosis_item.self_and_ancestors.collect{|e| link_to(e.name, "/help/diagnosis_items/#{e.id}")}.join(' &rarr; ') %>
<% end -%>

<h2><%= @diagnosis_item.name %></h2>

<%= @diagnosis_item.description_html %>

<% if @diagnosis_item.children.any? -%>
  <ul>
    <% for item in @diagnosis_item.children do -%>
      <% if(!item.children.any?) -%>
        <li><strong><%= item.name %></strong><br />
        <%= item.description_html %></li>
      <% else -%>
	<li><strong><%= link_to item.name, "/help/diagnosis_items/#{item.id}" %></strong></li>
      <% end -%>
    <% end -%>
  </ul>
<% end -%>

