<h1>Editing comparative_report_template</h1>

<% form_for(@comparative_report_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :applicable_on %><br />
    <%= f.text_field :applicable_on %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @comparative_report_template %> |
<%= link_to 'Back', comparative_report_templates_path %>