<p>
  <b>Name:</b>
  <%=h @formation_level.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @formation_level.description %>
</p>

<p>
  <b>Position:</b>
  <%=h @formation_level.position %>
</p>

<%= link_to 'Edit', edit_admin_formation_level_path(@formation_level) %> |
<%= link_to 'Back', admin_formation_levels_path %>
