<% form_for(@report_field_template) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :applicable_on %><br />
    <%= f.text_field :applicable_on, :value => @report_field_template.applicable_on.nil? ? '' : @report_field_template.applicable_on.collect { |c| c.to_s }.join(' ') %>
  </p>
  <p>
    <%= f.label :function %><br />
    <%= f.text_area :function %>
  </p>
  <p>
    <%= f.label :render_method %><br />
    <%= f.text_field :render_method %>
  </p>
  <p>
    <%= f.label :render_options %><br />
    <%= f.text_field :render_options, :value => @report_field_template.render_options.inspect %>
  </p>
  <p>
  <% if @report_field_template.new_record? -%>
    <%= f.submit 'Create' %>
  <% else -%>
    <%= f.submit 'Update' %>
  <% end -%>
  </p>
<% end %>
