<% page_title _('Plantillas de Informes Comparativos') -%>

<table>
  <tr>
    <th><%= _('Nombre') %></th>
    <th><%= _('Título') %></th>
    <th><%= _('Nº de funciones comparativas') %></th>
  </tr>

<% @comparative_report_templates.each do |comparative_report_template| %>
  <tr>
    <td><%=h comparative_report_template.name %></td>
    <td><%=h comparative_report_template.title %></td>
    <td><%=h comparative_report_template.report_field_templates.count %></td>
    <td><%= link_to 'Show', comparative_report_template %></td>
    <td><%= link_to 'Edit', edit_comparative_report_template_path(comparative_report_template) %></td>
    <td><%= link_to 'Destroy', comparative_report_template, 
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to(_('Nueva Plantilla de Informe Comparativo'), 
            new_comparative_report_template_path) %>
