<p>
  <b>Name:</b>
  <%=h @civil_state.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @civil_state.description %>
</p>

<p>
  <b>Position:</b>
  <%=h @civil_state.position %>
</p>

<%= link_to 'Edit', edit_admin_civil_state_path(@civil_state) %> |
<%= link_to 'Back', admin_civil_states_path %>
