<h1>New comparative_report</h1>

<% form_for(@comparative_report) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :show_signature %><br />
    <%= f.check_box :show_signature %>
  </p>
  <p>
    <%= f.label :signature %><br />
    <%= f.text_field :signature %>
  </p>
  <p>
    <%= f.label :show_signed_on %><br />
    <%= f.check_box :show_signed_on %>
  </p>
  <p>
    <%= f.label :signed_on %><br />
    <%= f.datetime_select :signed_on %>
  </p>
  <p>
    <%= f.label :configurable_view_id %><br />
    <%= f.text_field :configurable_view_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comparative_reports_path %>