<% form_for(@center_report) do |f| %>
  <%= f.error_messages %>

  <%= show_required_fields_explanation %>

  <fieldset>
    <legend><%= _('Datos del informe') %></legend>
    <table>
      <tr>
        <th><%= _('Funciones analíticas') %></th>
        <td>
          <ul>
            <% for field in @center_report.comparative_report_template.report_field_templates -%>
              <li><%= check_box_tag('center_report[comparative_report_field_template_assignments_attributes[][report_field_template_id]', 
                field.id,
                @center_report.comparative_report_field_template_assignments.collect { |a| a.report_field_template_id}.include?(field.id),
                :index => nil, 
                :id => "cb_#{field.id}") %> <%= label_tag("cb_#{field.id}", field.name) %></li>
            <% end -%>
          </ul>
        </td>
      </tr>
    </table>
  </fieldset>

<fieldset>
  <legend><%= _('Informe') %></legend>
  <p class="note"><%= _('Sólo se requiere completar los campos necesarios para el informe.') %></p>
  <table>
    <tr>
      <th><%= f.label(:extra_information, _('Informe de memoria')) %></th>
      <td>
	<%= f.text_area(:extra_information) %>
      </td>
    </tr>
    <tr>
      <th><%= _('Fecha') %></th>
      <td>
        <%= f.check_box(:show_signed_on) %>
        <%= f.label(:show_signed_on, _('Mostrar')) %>
        <br />
        <%= f.date_select(:signed_on) %>
      </td>
    </tr>
    <tr>
      <th><%= _('Firma') %></th>
      <td>
        <%= f.check_box(:show_signature) %>
        <%= f.label(:show_signature, _('Mostrar')) %><br />
        <%= f.text_area(:signature, :rows => 3) %>
      </td>
    </tr>
  </table>
</fieldset>
  <p>
  <% if(@center_report.new_record?) -%>
    <%= f.submit_or_cancel(_('Nuevo'), _('Cancelar'), center_reports_path) %>
  <% else -%>
    <%= f.submit_or_cancel(_('Guardar'), _('Cancelar'), center_reports_path) %>
  <% end -%>
  </p>
<% end %>
