<%= page_title _('Informes de Centro') -%>

<p><%= link_to _('Nuevo Informe de Centro'), new_center_report_path, :class => 'btn new-btn' %></p>

<table class="hdata">
  <thead>
    <tr>
      <th>Uh</th>
    </tr>
  </thead>

<% @center_reports.each do |center_report| %>
  <tr>
    <td><%= link_to 'Show', center_report %></td>
    <td><%= link_to 'Edit', edit_center_report_path(center_report) %></td>
    <td><%= link_to 'Destroy', center_report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

