<% content_for :header_options do -%>
  <%= javascript_include_tag 'report' %>
<% end -%>

<%= render :partial => '/reports/context_menu.html.erb', :locals => { :report => @center_report } %>

<div id="report">
<h3><%= _('Informe de centro') %></h3>
<table class="hdata">
  <% @center_report.results.each do |result| -%>
    <tr>
      <th><%= result[:title] %></th>
      <td>
        <% begin -%>
          <% if result[:render_method] == 'table' -%>
            <table>
              <% for row in result[:data] -%>
                <tr>
                  <% for cell in row -%>
                    <td><%= h cell %></td>
                  <% end -%>
                </tr>
              <% end -%>
            </table>
          <% elsif result[:render_method] == 'nested_list' -%>
            <%= ul result[:data] %>
          <% else -%>
            <%= result[:data].inspect %>
          <% end -%>
        <% rescue Exception => e -%>
          <p><span class="error"><%= _('Algo ha ido mal') %>: <%= simple_format(h(e.message)) %></span></p>
        <% end -%>
      </td>
    </tr>
  <% end -%>
</table>

<% if @center_report.show_report_data? -%>
  <% if @center_report.show_extra_information? -%>
    <h4><%= _('Informe de memoria') %></h4>
    <%= @center_report.extra_information_html %>
  <% end -%>
<% end -%>

<div style="text-align:right; margin-top: 5em">
  <% if @center_report.show_signed_on? and 
  @center_report.signed_on -%>
    <p><%= l(@center_report.signed_on.to_date, :format => :long) %></p>
  <% end -%>

  <% if @center_report.show_signature? -%>
    <%= simple_format(@center_report.signature) %>
  <% end -%>
</div>

</div>
