<div id="context-menu">
  <%= link_to_function(_('Imprimir'), 'javascript:print()', :class => 'icon printer') %> 
  <%= link_to(_('Descargar PDF'), {:id => report.id, :format => :pdf}, :class => 'icon pdf-file') %> | 
  <% form_for(report, :html => {:id => 'report_view',:class => 'inline'}) do |f| -%>
    <% f.fields_for :configurable_view do |c| -%>
            <%= link_to_function('A+', 'javascript:increase_text_size()', :class=>'btn') %> 
            <%= link_to_function('a-', 'javascript:decrease_text_size()', :class=>'btn') %>
            <%= link_to_function(
              image_tag('icons/border_all.png'), 'javascript:border_all()', :class=>'btn') %>
            <%= link_to_function(
              image_tag('icons/border_none.png'), 'javascript:border_none()', :class=>'btn') %>

	      <%= c.hidden_field(:font_size, :id => 'report_configurable_view_attributes_font_size') %>
	      <%= c.hidden_field(:table_grid, :id => 'report_configurable_view_attributes_table_grid') %>
    <% end -%>
  <% end -%>
</div>
