<% form_for([@medical_record, @individual_report]) do |f| -%>
<%= f.error_messages %>

<p class="note"><%= _('Selecciona la información que será mostrada en el informe.') %></p>
  <%= show_required_fields_explanation %>

<fieldset>
  <legend><%= _('Datos del expediente') %></legend>
  <table>
    <tr>
      <th><%= _('Expediente') %></th>
      <td>
        <ul>
          <li><%= f.check_box(:show_medical_record_archive_date) %>
              <%= f.label(:show_medical_record_archive_date, _('Fecha inicio expediente')) %></li>
        </ul>
      </td>
    </tr>

  </table>
</fieldset>

<fieldset>
  <legend><%= _('Datos personales') %></legend>
  <table>
    <tr>
      <th><%= _('Datos personales') %></th>
      <td>
        <ul>
	  <li><%= f.check_box(:show_full_name) %>
	  <%= f.label(:show_full_name, _('Nombre completo')) %>
	  </li>
	  <li><%= f.check_box(:show_birth_date) %>
	  <%= f.label(:show_birth_date, _('Fecha de nacimiento')) %>
	  </li>
	  <li><%= f.check_box(:show_age) %>
	  <%= f.label(:show_age, _('Edad')) %>
	  </li>
	  <li><%= f.check_box(:show_birth_position) %>
	  <%= f.label(:show_birth_position, _('Posición en el parto')) %>
	  </li>
	  <li><%= f.check_box(:show_gender) %>
	  <%= f.label(:show_gender, _('Sexo')) %>
	  </li>
	  <li><%= f.check_box(:show_address) %>
	  <%= f.label(:show_address, _('Dirección completa')) %>
	  </li>
	  <li><%= f.check_box(:show_handicap_data) %>
	  <%= f.label(:show_handicap_data, _('Datos de minusvalía')) %>
	  </li>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= _('Datos sociofamiliares') %></th>
      <td>
        <ul>
	  <li><%= f.check_box(:show_siblings_data) %>
	  <%= f.label(:show_siblings_data, _('Datos de los hermanos')) %>
	  </li>
	  <li><%= f.check_box(:show_father_data) %>
	  <%= f.label(:show_father_data, _('Datos del padre')) %>
	  </li>
	  <li><%= f.check_box(:show_mother_data) %>
	  <%= f.label(:show_mother_data, _('Datos de la madre')) %>
	  </li>
	  <li><%= f.check_box(:show_phone_numbers) %>
	  <%= f.label(:show_phone_numbers, _('Teléfonos')) %>
	  </li>
	  <li><%= f.check_box(:show_coordination_services) %>
	  <%= f.label(:show_coordination_services, _('Servicios de coordinación')) %>
	  </li>
        </ul>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= _('Diagnóstico detallado') %></legend>
  <p class="note"><%= _('Asociar el informe a un diagnóstico concreto es opcional, <strong>no es necesario rellenar esta sección si no se necesitan datos de diagnóstico</strong>.') %></p>
  <table>
    <tr>
      <th><%= f.label(:odat_diagnosis_id, _('Diagnóstico')) %></th>
      <td>
	<%= f.collection_select(:odat_diagnosis_id, 
				@medical_record.odat_diagnoses, 
				:id, 
				:formatted_date,
                                {:include_blank => true}) %>
      </td>
    </tr>
    <tr>
      <th><%= _('Datos diagnóstico') %></th>
      <td>
        <ul>
	  <li><%= f.check_box(:show_diagnosis_created_at) %>
	  <%= f.label(:show_diagnosis_created_at, _('Fecha de creación del diagnóstico')) %>
	  </li>
	  <li><%= f.check_box(:show_consultation_details) %>
	  <%= f.label(:show_consultation_details, _('Datos de la demanda')) %>
	  </li>
	  <li><%= f.check_box(:show_center_resources) %>
	  <%= f.label(:show_center_resources, _('Recursos de centro')) %>
	  </li>
	  <li><%= f.check_box(:show_main_diagnosis) %>
	  <%= f.label(:show_main_diagnosis, _('Diagnóstico principal')) %>
	  </li>
	  <li><%= f.check_box(:show_detailed_diagnosis) %>
	  <%= f.label(:show_detailed_diagnosis, _('Listado de diagnóstico detallado')) %>
	  </li>
	  <li><%= f.check_box(:show_level3) %>
	  <%= f.label(:show_level3, _('Elementos del nivel 3')) %>
	  </li>
        </ul>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
  <legend><%= _('Informe') %></legend>
    <p class="note"><%= _('Sólo se requiere completar los campos necesarios para el informe.') %></p>
  <table>
    <tr>
      <th><%= f.label(:topic, _('Asunto')) %></th>
      <td>
	<%= f.text_area(:topic) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:tests, _('Pruebas')) %></th>
      <td>
        <%= f.text_area(:tests) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:results, _('Resultados')) %></th>
      <td>
	<%= f.text_area(:results) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label(:orientation, _('Orientaciones')) %></th>
      <td>
	<%= f.text_area(:orientation) %>
      </td>
    </tr>
    <tr>
      <th><%= _('Fecha') %></th>
      <td>
        <%= f.check_box(:show_signed_on) %>
        <%= f.label(:show_signed_on, _('Mostrar')) %>
        <br />
        <%= f.date_select(:signed_on) %>
      </td>
    </tr>
    <tr>
      <th><%= _('Firma') %></th>
      <td>
        <%= f.check_box(:show_signature) %>
        <%= f.label(:show_signature, _('Mostrar')) %><br />
        <%= f.text_area(:signature, :rows => 3) %>
      </td>
    </tr>
  </table>
</fieldset>

<p>
<% if @individual_report.new_record? -%>
  <%= f.submit_or_cancel(_('Nuevo'),_('Cancelar'), individual_reports_path(@medical_record)) %>
<% else -%>
  <%= f.submit_or_cancel(_('Guardar'),_('Cancelar'), individual_reports_path(@medical_record)) %>
<% end -%>
</p>

<% end -%>
