<h1>Editing individual_report</h1>

<% form_for(@individual_report) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :medical_record_id %><br />
    <%= f.text_field :medical_record_id %>
  </p>
  <p>
    <%= f.label :odat_diagnosis_id %><br />
    <%= f.text_field :odat_diagnosis_id %>
  </p>
  <p>
    <%= f.label :topic %><br />
    <%= f.text_area :topic %>
  </p>
  <p>
    <%= f.label :topic_html %><br />
    <%= f.text_area :topic_html %>
  </p>
  <p>
    <%= f.label :tests %><br />
    <%= f.text_area :tests %>
  </p>
  <p>
    <%= f.label :tests_html %><br />
    <%= f.text_area :tests_html %>
  </p>
  <p>
    <%= f.label :results %><br />
    <%= f.text_area :results %>
  </p>
  <p>
    <%= f.label :results_html %><br />
    <%= f.text_area :results_html %>
  </p>
  <p>
    <%= f.label :orientation %><br />
    <%= f.text_area :orientation %>
  </p>
  <p>
    <%= f.label :orientation_html %><br />
    <%= f.text_area :orientation_html %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @individual_report %> |
<%= link_to 'Back', individual_reports_path %>