<% page_title(_('Listado de informes para %{full_name}') % {:full_name => @medical_record.full_name }) -%>

<p><%= link_to(_('Nuevo informe individual'), new_medical_record_individual_report_path, {:class => 'btn new-btn'}) %></p>

<% unless @individual_reports.empty? -%>
  <table class="vdata">
    <thead>
      <tr>
        <th><%= _('Fecha') %></th>
        <th><%= _('Informe') %></th>
        <th><%= _('Eliminar') %></th>
      </tr>
    </thead>
    <tbody>
  <% for report in @individual_reports do -%>
      <tr>
        <td>
          <%= link_to(l(report.created_at, :format => :short), 
              individual_report_path(report)) %>
        </td>
        <td>
          <%= link_to(_('Modificar'), edit_individual_report_path(report)) %>
        </td>
        <td>
          <%= button_to(_('Eliminar informe'), 
              individual_report_path(report), :method => :delete, 
              :confirm => _("¿Realmente deseas eliminar este informe permanentemente?"), 
              :class => 'dest-action') %>
        </td>
  </tr>
  <% end -%>
</tbody>
</table>

<%= will_paginate @individual_reports %>

<% else -%>
  <p><%= _('No hay informes almacenados.') %></p>
<% end -%>

