<% page_title(_('Listado de informes para %{nombre}') % {:nombre => @medical_record.full_name }) -%>

<% content_for(:sidebar) do -%>
<% end -%>

<% unless @medical_record.individual_reports.empty? -%>
  <table class="vdata">
    <thead>
      <tr>
        <th><%= _('Fecha') %></th>
        <th><%= _('Acciones') %></th>
      </tr>
    </thead>
    <tbody>
  <% for report in @medical_record.individual_reports do -%>
      <tr>
        <td>
          <%= link_to(l(report.created_at, :format => :short), 
              individual_report_path(report)) %>
        </td>
        <td>
          <%= link_to(_('Ver'), individual_report_path(report)) %>
          <%= link_to(_('Editar'), edit_individual_report_path(report)) %>
          <%= button_to(_('Borrar informe'), 
              {:action => :borrar, 
                :eid => @medical_record.id, 
                :inf_id => report.id}, 
              :confirm => _("¿Estas seguro de borrar este informe permanentemente?"), 
              :class => 'dest-action') %>
        </td>
  </tr>
  <% end -%>
</tbody>
</table>
<% end -%>

<%= link_to 'New individual_report', new_medical_record_individual_report_path %>
