<% content_for :header_options do -%>
  <%= javascript_include_tag 'report' %>
<% end -%>

<%= render :partial => '/reports/context_menu.html.erb', :locals => { :report => @individual_report } %>

<div id="report">
<% if @individual_report.show_personal_data? -%>
    <h3><%= _('Datos personales') %></h3>
    <table class="hdata">
      <% if @individual_report.show_full_name? -%>
        <tr>
          <th><%= _('Nombre') %></th>
          <td><strong><%=h @medical_record.full_name %></strong></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_medical_record_archive_date? && 
	      @medical_record.archive_date -%>
        <tr>
          <th><%= _('Fecha de ingreso') %></th>
          <td><%= l(@medical_record.archive_date) %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_birth_date? && 
	      @medical_record.birth_date -%>
        <tr>
          <th><%= _('Fecha de nacimiento') %></th>
          <td><%= l(@medical_record.birth_date) %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_age? -%>
        <tr>
          <th><%= _('Edad') %></th>
          <td><%=h @medical_record.age %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_gender? -%>
        <tr>
          <th><%= _('Sexo') %></th>
          <td><%=h @medical_record.gender %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_birth_position? -%>
        <tr>
          <th><%= _('Número de parto <small>(en caso de parto múltiple)</small>') %></th>
          <td><%=h @medical_record.birth_position %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_address? -%>
        <tr>
          <th><%= _('Direccion') %></th>
          <td><%=h @medical_record.address %></td>
        </tr>
      <% end -%>
      <% if @individual_report.show_handicap_data? -%>
        <tr>
          <th colspan="2">
            <strong><%= _('Minusvalía') %></strong>
          </th>
        </tr>
        <%= render :partial => 'medical_records/show_handicap_data' %>
      <% end -%>
    </table>
<% end -%>

<% if @individual_report.show_family_data? -%>
  <h3><%= _('Datos sociofamiliares') %></h3>
  <% if @individual_report.show_siblings_data? -%>
      <h4><%= _('Hermanos') %></h4>
      <table class="hdata">
        <%= render :partial => 'medical_records/show_siblings_data' %>
      </table>
  <% end -%>

  <% if @individual_report.show_father_data? -%>
      <h4><%= _('Padre') %></h4>
      <table class="hdata">
        <%= render :partial => 'medical_records/show_father_data' %>
      </table>
  <% end -%>

  <% if @individual_report.show_mother_data? -%>	
      <h4><%= _('Madre') %></h4>
      <table class="hdata">
        <%= render :partial => 'medical_records/show_mother_data' %>
      </table>
  <% end -%>	

  <% if @individual_report.show_phone_numbers? -%>
      <h4><%= _('Teléfonos') %></h4>
      <table class="hdata">
        <%= render :partial => 'medical_records/show_phones_data' %>
      </table>
  <% end -%>

  <% if @individual_report.show_coordination_services? -%>
      <h4><%= _('Coordinación') %></h4>
      <table class="hdata">
        <%= render :partial => 'medical_records/show_coordination_data' %>
      </table>
  <% end %>
<% end -%>

<% if @individual_report.show_diagnosis_data? -%>
  <h3><%= _('Datos de diagnóstico') %></h3>
  <% if @individual_report.show_diagnosis_created_at? &&
	@odat_diagnosis.created_at -%>
      <h4><%= _('Fecha de creación del diagnóstico') %></h4>
      <table class="hdata">
        <tr>
          <th><%= _('Fecha de creación') %></th>
          <td><%= l(@odat_diagnosis.created_at.to_date) %></td>
        </tr>
      </table>
  <% end -%>
  <% if @individual_report.show_consultation_details? -%>
      <h4><%= _('Datos de demanda') %></h4>
      <%= render :partial => 'odat_diagnoses/show_consultation_data' %>
  <% end -%>
  <% if @individual_report.show_center_resources? -%>
      <h4><%= _('Datos de centro') %></h4>
      <%= render :partial => 'odat_diagnoses/show_center_data' %>
  <% end -%>
  <% if @individual_report.show_main_diagnosis? -%>
      <h4><%= _('Diagnóstico principal') %></h4>
      <%= render :partial => 'odat_diagnoses/show_main_diagnosis' %>
  <% end -%>
  <% if @individual_report.show_detailed_diagnosis? -%>
      <h4><%= _('Datos de diagnóstico') %></h4>
      <%= render :partial => 'odat_diagnoses/show_detailed_diagnosis' %>
  <% end -%>
<% end -%>

<% if @individual_report.show_report_data? -%>
  <h3><%= _('Informe') %></h3>
  <% if @individual_report.show_topic? -%>
      <h4><%= _('Asunto') %></h4>
      <%= @individual_report.topic_html %>
  <% end -%>

  <% if @individual_report.show_tests? -%>
      <h4><%= _('Pruebas') %></h4>
      <%= @individual_report.tests_html %>
  <% end -%>

  <% if @individual_report.show_results? -%>
      <h4><%= _('Resultados') %></h4>
      <%= @individual_report.results_html %>
  <% end -%>

  <% if @individual_report.show_orientation? -%>
      <h4><%= _('Orientaciones') %></h4>
      <%= @individual_report.orientation_html %>
  <% end -%>

<% end -%>

<div style="text-align:right; margin-top: 5em">
	<% if @individual_report.show_signed_on? and 
		@individual_report.signed_on -%>
		<p><%= l(@individual_report.signed_on.to_date, :format => :long) %></p>
	<% end -%>

	<% if @individual_report.show_signature? -%>
		<%= simple_format(@individual_report.signature) %>
	<% end -%>
</div>

</div>
