<% content_for :header do -%>
	  <div id="usrbar">
	    <%= render :partial => 'users/user_bar' %>
	  </div>

	  <div id="header">
	    <%= render :partial => 'layouts/header' %>
	  </div>

	  <div id="navbar">
            <% if !current_user.is_admin? -%>
	      <%= render :partial => 'layouts/user_navbar' %>
            <% else -%>
	      <%= render :partial => 'layouts/admin_navbar' %>
            <% end -%>
	  </div>
<% end -%>

<% content_for :content do -%>
	  <div id="sidebar">
	    <%= yield :menu %>
	    <%= yield :sidebar %>
	  </div>

	  <div id="main">
            <% unless @content_for_page_title.nil? -%>
              <h2><%= yield(:page_title) %></h2>
            <% end -%>
	    <%= display_flash %>
	    <%= yield %>
	  </div>
<% end -%>

<% content_for :footer do -%>
	<%= render :partial => 'layouts/footer' %>
<% end -%>

<%= render :file => 'layouts/default' %>
