<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES">
  <head>
    <title><%= yield(:page_title) || _('Organización Diagnóstica para la Atención Temprana') %> - ODAT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'estilos.css' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'popup.js' %>
    <%= yield :header_options %>
  </head>

  <body>
    <a class="ancla" name="top"></a>

    <!-- Cabecera de la pagina -->
    <div id="cabecera">

      <div id="usuario">
	<%= render :partial => 'users/user_bar' %>
      </div>

      <div id="titulo">
	<h1><%= link_to _('ODAT'), root_path %></h1>
	<h2>Organización Diagnóstica en Atención Temprana</h2>
	<h3><%= image_tag '/images/gat.gif' %></h3>
      </div>

      <div id="menu-cabecera">
	<ul>
	  <li class="primero"><%= link_to _('Listado expedientes'), 
	      medical_records_path, :class => 'accion-principal' %></li>
	  <li><%= link_to _('Nuevo expediente'), 
	      new_medical_record_path, :class => 'accion-principal' %></li>
	  <li><%= link_to _('Documentación ODAT'), 
	      :controller => 'documentacion' %></li>
	  <li><%= link_to _('Acerca de ODAT'), 
	      :controller => 'acercade' %></li>
	</ul>
      </div>
      <p class="clear"></p>
    </div>

    <!-- Cuerpo -->
    <div id="cuerpo">

      <div id="lateral">
	<%= yield :menu_principal %>
	<%= yield :menu_secundario %>
	<%= yield :mini_ayuda %>
	<%= yield :lateral %>
      </div>

      <div id="contenido">
	<h1><%= yield :page_title || _('ODAT') %></h1>
	<%= display_flash %>
	<%= yield %>
      </div>

      <p class="clear"></p>

    </div>
    <!-- Pie de pagina -->
    <div id="pie">
      <p>Real Patronato sobre Discapacidad<br />
      <%= image_tag '/images/patronato.png', :alt => _('Real patronato sobre discapacidad') %></p>
      <p><small>Aplicación web desarrollada por <a href="mailto:siu.4coders@gmail.com" title="Enviar un correo electrónico a siu.4coders@gmail.com">David Siñuela Pastor</a>.</small></p>

      <p><small>Página construida conforme a los estándares <a href="#">XHTML</a> y <a href="#">CSS</a>.</small></p>
    </div>
  </body>

</html>

