<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES">
  <head>
    <title><%= yield(:page_title) || _('Organización Diagnóstica para la Atención Temprana') %> - ODAT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'base.css' %>
    <%= stylesheet_link_tag 'layout.css' %>
    <%= stylesheet_link_tag 'gfx.css' %>
    <%= stylesheet_link_tag 'facebox.css' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'popup.js' %>
    <%= javascript_include_tag 'facebox.js' %>
    <%= yield :header_options %>
  </head>

  <body>
    <div id="page-wrapper">
      <div id="wrapper1">
	<a class="anchor" name="top"></a>

	<!-- Cabecera de la pagina -->
	<div id="header-wrapper">
          <%= yield :header %>
	  <p class="clear"></p>
	</div>

	<!-- Cuerpo -->
	<div id="content">

          <%= yield :content %>

	  <p class="clear"></p>

	  <div id="push"></div>

	</div>
      </div>
      <!-- Pie de pagina -->
      <div id="footer">
          <%= yield :footer %>
      </div>
    </div>
  </body>

</html>
