<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES" <%= %'dir="rtl"' if locale_rtl?(I18n.locale) %>>
  <head>
    <title><%= yield(:page_title) || _('Organización Diagnóstica para la Atención Temprana') %> - ODAT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'base', 'layout', 'gfx', 'facebox' %>
    <%= stylesheet_link_tag 'rtl-fix' if locale_rtl?(I18n.locale) %>
    <%= stylesheet_link_tag 'print', :media => 'print' %>
    <%= javascript_include_tag 'jquery-1.6.4.min.js' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'popup' %>
    <%= javascript_include_tag 'facebox' %>
    <%= yield :header_options %>
  </head>

  <body>
    <div id="page-wrapper">
      <div id="wrapper1">
	<a class="anchor" name="top"></a>

	<!-- Cabecera de la pagina -->
	<div id="header-wrapper">
          <%= yield :header %>
	  <p class="clear"></p>
	</div>

	<!-- Cuerpo -->
	<div id="content">

          <%= yield :content %>

	  <p class="clear"></p>

	  <div id="push"></div>

	</div>
      </div>
      <!-- Pie de pagina -->
      <div id="footer">
          <%= yield :footer %>
      </div>
    </div>
<script type="text/javascript">
    var GoSquared={};
    GoSquared.acct = "GSN-639564-R";
    (function(w){
        function gs(){
            w._gstc_lt=+(new Date); var d=document;
            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
    })(window);
</script>
  </body>

</html>
