<% content_for :menu do -%>
  <div id="medical-record-menu">
    <h3><%= link_to_unless_current(@medical_record.full_name,
	@medical_record) %></h3>
	<ul>
          <li><%= link_to(_('Modificar'),
            edit_medical_record_path(@medical_record)) %></li>

        <li><%= link_to(_('Diagnósticos') + "<small> (#{@medical_record.odat_diagnoses.count})</small>", 
		medical_record_odat_diagnoses_path(@medical_record)) %>
	<ul>
	<li><%= link_to(_('Nuevo'),
		new_medical_record_odat_diagnosis_path(@medical_record)) %></li>
	</ul>
        </li>

        <li><%= link_to(_('Informes') + "<small> (#{@medical_record.individual_reports.count})</small>", 
		medical_record_individual_reports_path(@medical_record)) %>

	<ul>
	<li><%= link_to(_('Nuevo'),
		new_medical_record_individual_report_path(@medical_record)) %></li>
	</ul>
        </li>
        <li class="destroy"><%= button_to(_('Eliminar expediente'),
                          medical_record_path(@medical_record), :method => :delete, :confirm => _('Seguro deseas borrar el expediente actual junto con todos sus diagnósticos e informes (operación irreversible)?'), :class => 'dest-action') %></li>
      </ul>

      </div>
<% end -%>
<%= render :file => 'layouts/application' %>
